*{
   margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
html,body{
    width: 100%;
}
 
main{
    width:100%;
    height: 100vh;
    overflow-y: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 1vw 3vw;
}

nav h4{
    font-size: 20px;
    font-weight: 400;
}

nav i{
    font-size: 20px;
    color: white;
    padding: 11px 11px 10px 10px;
    background-color: black;
    border-radius: 50%;
}

#center{
    padding: 1vw 4vw;
}

#center h1{
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 4vw;
}

#bottom{
    padding: 1vw 4vw;
    display: flex;
    justify-content: space-between;
}

#bottom p{
    width: 40%;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 2vw;
}

#right{
    width: 20%;
}

.elem{
    width: 90%;
    margin: 3px;
    padding: 1vw 0.1vw;
    border-top:2px solid black ;
    display: flex;
    justify-content: space-between;
}

.elem i{
    font-size: 1.2vw;
    opacity: 0;
}

.elem a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1vw;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#image{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1569850678894-6f5b5cd2c931?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 50% 35%;
    transition: 0.6s;
    border-radius: 4px;
}

#image:hover{
    position: absolute;
    transform: translateY(-60%);
    background-position: 0 10%;
}

@media (max-width: 600px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 15px;
        padding: 0.5vw 2vw;
    }

    nav h4{
        display: none;
    }

    #center h1{
        font-size: 11vw;
        font-weight: 500;
        line-height: 15vw;
    }

    #bottom{
        padding: 1vw 1vw;
        display: flex;
        flex-direction: column;
    }
    
    #bottom p{
        width: 100%;
        font-weight: 300;
        font-size: 5vw;
        line-height: 5vw;
        padding: 4vw;
    }

    #right{
        width: 100%;
        padding: 4vw;
    }

    .elem{
        width: 90%;
        margin: 3px;
        padding: 1vw 0.1vw;
        border-top:2px solid black ;
        display: flex;
        justify-content: space-between;
    }

    .elem i{
        font-size: 3vw;
        opacity: 0;
    }
    
    .elem a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 3vw;
    }

    #image{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}